@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
main{
    background-color: #F4F6F8;
}
nav{
    position: relative;
    align-items: center;
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
    z-index: 111;
}
nav a{
    color: #242424;
    font-weight: 500;
}
ul{
    display: flex;
    width: 55%;
    justify-content: space-between;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.number_button{
    width: 236px;
    height: 68px;
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 650;
    cursor: pointer;
    transition: 0.4 ease;
    border-style: none;
    border-radius: 8px;
    background-color: #FA002C;
}

.avto_rinok{
    background-image: url(./koreya_image/image1.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 90vh;
    position: relative;
    bottom: 105px;
    z-index: 11;
}
.avto_rinok_main{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 80%;
}
.avto_rinok_gigi{
    height: 90px;
    background-color: rgba(0, 0, 0, 0);
}
.avto_rinok_text{
    width: 690px;
    height: 555px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2% 2%;
    border-radius: 24px;
}
.avto_rinok_text_inside{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}
.avto_rinok_text h1{
    font-weight: 800;
    font-size: 4.375rem;
    width: 80%;
}
.avto_rinok_text p{
    font-weight: 600;
    font-size: 1.625rem;
    width: 80%;
}
.bot_avto_rinok{
    width: 80%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.soc_seti{
    width: 80px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.4 ease;
}
.poluchit_consul{
    width: 301px;
    height: 80px;
    background-color: #fa002c;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 550;
    border-style: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}
.poluchit_consul:hover{
    background-color: #bb3e55;
}


.process_zakaza{
    width: 80%;
    margin: 0 auto;
    height: 850px;
}
.process_zakaza h2{
    font-size: 3.125rem;
    line-height: 69px;
    font-weight: 650;
    width: 612px;
}
.process_zakaza_zagolovok p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 100px;
}
.boxes_punkti{
    width: 80%;
    height: 80%;
}
.number_boxes_punkti{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box_punkt{
    position:sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 246px;
    border-bottom: 1px dashed #D6A7AF;
    border-right: 1px dashed #D6A7AF;
}
.box_punkt:hover .boxes_punkti{
    background-color: #FFFFFF;
    transition: 0.4s ease;
}
.box_punkt:hover .number_boxes_punkti{
    background-color: #FFFFFF;
    transition: 0.4s ease;
}
.box_punkt:hover h3{
    background-color: #FFFFFF;
    transition: 0.4s ease;
}
.box_punkt:hover p{
    background-color: #FFFFFF;
    transition: 0.4s ease;
}
.box_punkt:hover{
    border-bottom: 0px dashed #D6A7AF;
    border-right: 0px dashed #D6A7AF;
    background-color: #FFFFFF;
    border-radius: 22px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
    transition: 0.4s ease;
}
.box_punkt h3{
    font-size: 3.75rem;
    color: red;
}
.boxes1_process_zakaza{
    display: flex;
}
.ramka{
    height: 1px;
    width: 60%;
    border: 1px dashed red;
}

.help_na_etapah{
    background-image: url(./koreya_image/image2.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 114vh;
}
.main_help_na_etapah{
    margin: 0 auto;
    width: 80%;
}
.phone-input{
    display: flex;
    align-items: center;
    border: 1px solid #C9C9C9;
    border-radius: 12px;
    padding: 0 20px;
    background: #FFFFFF;
    width: 450px;
    height: 72px;
}
.country-code{
    color: #64748b;
    font-weight: 500;
    margin-right: 8px;
    user-select: none;
}
.phone-input input{
    border: none;
    outline: none;
    padding: 20px 0;
    font-size: 1rem;
    width: 100%;
}
.icon_image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 3px solid rgba(250, 0, 44, 0.15);
    border-radius: 15px;
}
.right_help_na_etapah{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    justify-self: center;
}
.rhne1{
    display: flex;
}
.rhne11{
    width: 320px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}
.rhne1 p{
    width: 280px;
    height: 78px;
    line-height: 26px;
}
.button_dashedstrelka{
    display: flex;
    width: 400px;
    justify-content: space-between;
}
.button_dashedstrelka img{
    width: 68px;
    height: 59px;
}
.left_help_na_etapah{
    width: 550px;
    height: 525px;
    background-color: #ffffff;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.left_help_na_etapah h2{
    width: 449px;
    height: 138px;
    font-size: 3.125rem;
    line-height: 69px;
    color: #000000;
    font-weight: 700;
}
.left_help_na_etapah p{
    width: 328px;
    height: 52px;
    font-size: 1.125rem;
    line-height: 26px;
    font-weight: 600;
}
.text_hne{
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}
.musor{
    height: 75vh;
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-content: space-evenly;
}
.podclass_rhne{
    align-content: space-between;
}
.number_button2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;
}

.popularnie_am{
    background-color: #ffffff;
    height: 1050px;
}
.main_popularnie_am{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.tovari_popularnie_am{
    display: flex;
    justify-content: space-between;
}
.main_popularnie_am h2{
    font-size: 3.125rem;
    color: #000000;
    font-weight: 700;
}
.analog_button{
    margin: 0 auto;
    width: 100%;
    height: 80px;
    background-color: #fa002c;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 550;
    border-style: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}
.analog_button:hover{
    background-color: #bb3e55;
}
.popularnie_am article{
    max-width: 30%;
    height: 764px;
    border-radius: 36px;
    background-color: #ffffff;
    box-shadow: 0 20px 26px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
}
.popularnie_am img{
    border-radius: 20px;
    width: 100%;
    height: 40%;
}
.inside_article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 86%;
    height: 91%;
}
.zagolovok_car{
    font-size: 1.5rem;
    font-weight: 720;
    color: #000000;
}
.probeg, .god, .moshnost, .dvigatel, .korobka{
    display: flex;
    justify-content: space-between;
}
.probeg p, .god p, .moshnost p, .dvigatel p, .korobka p{
    width: auto;
    text-align: left;
}
.div{
    width: auto;
    border-bottom: 1px dashed rgba(193, 193, 193, 1);
}
.stoimost_avto{
    display: flex;
    justify-content: space-between;
}
.stoimost_avto p{
    color: #2B2B2B;
    font-size: 1rem;
    width: 146px;
    height: 40px;
}
.stoimost_avto_v_rf{
    padding: 3% 0;
}
.stoimost_avto_v_rf p{
    width: 175px;
}
.stoimost_avto_v_rf h3{
    color: #000000;
    font-size: 1.5625rem;
    font-weight: 500;
}
.stoimost_avto_vo_vladivostoke{
    width: 55%;
    background-color: #FEE5E9;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.stoimost_avto_vo_vladivostoke h3{
    color: #FA002C;
    font-size: 1.5rem;
    font-weight: 750;
    width: 147px;
    height: 29px;
}
.cavrf1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.raschet{
    height: 1400px;
}
.raschet_main{
    width: 80%;
    margin: 0  auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.raschet_main h2{
    color: #000000;
    font-size: 3.125rem;
    width: 801px;
    height: 138px;
}
.boxes_rashcet{
    height: 806px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.boxes_raschet_top{
    display: flex;
    justify-content: space-between;
}
.box_rashcet{
    max-width: 460px;
    min-width: 25%;
    height: 389px;
    background-color: #FFFFFF;
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    box-shadow: 0 20px 26px rgba(155, 155, 155, 0.4);
}
.inside_raschet_box{
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box_rashcet h3{
    color: #000000;
    font-size: 1.875rem;
    font-weight: 600;
}
.box_rashcet h4{
    color: #000000;
    font-size: 3.75rem;
    font-weight: 650;
}
.box_rashcet p{
    color: #666666;
    font-size: 1.125rem;
    font-weight: 500;
}
.top_text_raschet{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 40%;
}
.box_rashcet:hover{
    background-image: url(./koreya_image/kiabackground1.png),
    url(./koreya_image/kiabackground2.png);
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    background-position: center, center;
    border-left: 14px solid #FA002C;
}
.box_rashcet:hover h4{
    color: #FFFFFF;
}
.box_rashcet:hover p{
    color: #FFFFFF;
}
.box_rashcet:hover h3{
    color: #FFFFFF;
}
.stoimost_pod_kluch{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stoimost_rashcet{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.stoimost_red{
    color: #FA002C;
    font-size: 3.75rem;
    font-weight: 600;
}
.valuta{
    font-size: 2.25rem;
}
.stoimost_black{
    color: #000000;
    font-size: 3.75rem;
    font-weight: 600;
}
.stoimost_obichnaya{
    color: #000000;
    font-size: 1.875rem;    
    font-weight: 400;
}

.preimushestva{
    height: 800px;
    background-color: #FFFFFF;
}
.preimushestva_main{
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.preimushestva_bot{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.preimushestva_botleft{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.preimushestva_botleft a{
    color: #000000;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: left;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}
.varianti_left, .varianti_right{
    width: 100%;
}
.punkt_a{
    width: 90%;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: all 0.6s ease;
    border-style: none;
    background-color: #FFFFFF;
}
.punkt_a:hover{
    background-color: #F4F6F8;
    border-radius: 12px;
}
.punkt_a:hover a{
    color: #fa002c;
}
.punkt_a div{
    display: flex;
    align-items: center;
}
.preimushestva_botright{
    border-radius: 36px;
    box-shadow: 0 20px 26px rgba(155, 155, 155, 0.4);
    width: 480px;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
}
.variant_preimushestva{
    width: 92%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.knopki_rl button{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    cursor: pointer;
    background-color: #ffffff;
    transition: all 0.4s ease;
}
.button_left{
    border: 1px solid #D3D3D3;
}
.button_left:hover{
    border: 1px solid #585858;
    background-color: #cecece;
}
.button_right{
    border: 1px solid #FA002C;
}
.button_right:hover{
    border: 1px solid #6e0c1e;
    background-color: #ffced7;
}
.nazvanie_varianta{
    color: #000000;
    font-size: 1.5rem;
    font-weight: 700;
}
.opisanie_varianta{
    color: #000000;
    font-size: 1rem;
    line-height: 22px;
}

.primer_videoobzora{
    height: 850px;
    background-color: #ffffff;
}
.primer_videoobzora_text{
    align-content: space-evenly;
    height: 18%;
}
.primer_videoobzora_main1{
    margin: 0 auto;
    width: 80vw;
    height: 100%;
    align-content: space-evenly;
}
.primer_videoobzora h2{
    color: #000000;
    font-size: 3.125rem;
    font-weight: 700;
}
.primer_videoobzora p{
    color: #292929;
    font-size: 1rem;
    font-weight: 400;
}
.primer_videoobzora_main{
    background-image: url(./koreya_image/mask_group.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 547px;
    border-radius: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.primer_videoobzora_main button{
    border-style: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}

.vopros_otvet{
    height: 800px;
    background-color: #FFFFFF;
    align-content: space-evenly;
}
.vopros_otvet_main1{
    width: 80%;
    margin: 0 auto;
}
.vopros_otvet h2{
    font-size: 3.125rem;
    font-weight: 700;
    color: #000000;
}
.vopros_otvet_main{
    display: flex;
    flex-direction: column;
}
.vopros_otvet_main button{
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.box_vopros{
    width: 90%;
    text-align: left;
}
.box_vopros_red{
    width: 90%;
    text-align: left;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.vopros, .vopros_red{
    min-height: 109px;
    align-items: center;
    cursor: pointer;
    transition: all 0.6s ease;
    background-color: #FFFFFF;
    border-style: none;
}
.vopros_red:hover{
    background-color: #F4F6F8;
    border-radius: 12px;
}
.vopros:hover{
    background-color: #F4F6F8;
    border-radius: 12px;
}
.vopros a{
    font-size: 1.875rem;
    color: #000000;
    font-weight: 530;
}
.red_vopros{
    color: red;
    font-size: 1.875rem;
    font-weight: 530;
}
.vopros_red p{
    color: #292929;
    font-size: 1rem;
    line-height: 22px;
    font-weight: 380;
}
.mark_voprosotvet{
    display: flex;
    align-items: center;
    width: 1135px;
    justify-content: space-between;
}
.mark_voprosotvet p{
    width: 1048px;
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 40px;
    color: #000000;
}
.check{
  position: fixed;
  opacity: 0;
}
.check-label{
  width: 60px;
  height: 60px;
  border-radius: 12px;
  background: red;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.check-label::before{
  content: "";
  width: 24px;
  height: 12px;
  border-left: 6px solid #fff;
  border-bottom: 6px solid #fff;
  transform: rotate(-45deg);
  transition: all 0.2s ease;
}
.check:not(:checked)+.check-label::before{
  opacity: 0;
}
.check:checked+.check-label::before{
  opacity: 1;
}

.konsultatsiya{
    height: 80vh;
    align-content: space-evenly;
    background-color: #FFFFFF;
}
.konsultatsiya_main{
    background-image: url(./koreya_image/background_konsul1.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 70vh;
}
.konsultatsiya_text{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 85%;
}
.konsultatsiya_text h2{
    width: 690px;
    height: 207px;
    line-height: 69px;
    font-size: 3.125rem;
    font-weight: 720;
    color: #000000;
}
.konsultatsiya_text span{
    color: #FA002C;
}
.konsultatsiya_text p{
    width: 542px;
    height: 44px;
    color: #292929;
    font-size: 1rem;
    line-height: 22px;
    font-weight: 450;
}

.kontakti{
    height: 80vh;
    align-content: space-evenly;
    background-color: #FFFFFF;
}
.kontakti h2{
    font-size: 3.125rem;
    color: #000000;
    font-weight: 700;
}
.kontakti_main{
    width: 80%;
    margin: 0 auto;
}
.maps{
    display: flex;
    justify-content: space-between;
}
.map1{
    height: 55vh;
    width: 36vw;
    border: 7px solid #FECCD5;
    border-radius: 34px;
}
.map1 img{
    width: 100%;
    height: 35vh;
    margin: 0 auto;
    cursor: pointer;
}
.inside_map{
    height: 100%;
}
.gorod_nomer img{
    width: 16px;
    height: 22px;
}
.map_text{
    width: 100%;
    height: 34%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}
.bot_kontakti p{
    width: 250px;
    font-size: 1.875rem;
    color: #000000;
    font-weight: 650;
}
.metka{
    display: flex;
    width: 350px;
}
.filial{
    font-size: 1.875rem;
    color: #000000;
    font-weight: 500;
}
.gorod{
    color: #292929;
    font-size: 1rem;
    font-weight: 400;
}
.gorod_nomer{
    width: 65%;
    height: 50%;
}
.map_text1{
    width: 95%;
    flex-wrap: wrap;
}

footer{
    height: 33vh;
    background-color: #EEEEEE;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}
.footer_main{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_left_main{
    height: 70%;
}
.footer_left_main p{
    width: 428px;
    height: 88px;
}
.footer_mid_main{
    justify-content: space-between;
    display: flex;
    width: 20vw;
    height: 50%;
}
.footer_midleft{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer_midright{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer_right{
    height: 50%;
}
.footer_mid{
    height: 50%;
}
.footer_rightbot{
    display: flex;
}
.footer_rightbot img{
    width: 16px;
    height: 22px;
}
footer a{
    color: #000000;
    font-size: 1.125rem;
    font-weight: 500;
}