@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
nav{
    position: relative;
    align-items: center;
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
    z-index: 111;
}
nav a{
    color: #242424;
    font-weight: 500;
}
ul{
    display: flex;
    width: 55%;
    justify-content: space-between;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.number_button{
    width: 236px;
    height: 68px;
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 650;
    cursor: pointer;
    transition: 0.4 ease;
    border-style: none;
    border-radius: 8px;
    background-color: #FA002C;
}

.avto_rinok{
    height: 90vh;
    position: relative;
    bottom: 105px;
    z-index: 11;
}
.avto_rinok_main{
    width: 80%;
    margin: 0 auto;
    display: flex;
    height: 100%;
}
.avto_rinok_gigi{
    height: 90px;
    background-color: rgba(0, 0, 0, 0);
}
.avto_rinok_text{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.avto_rinok_text_inside{
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.avto_rinok_text h1{
    font-weight: 650;
    font-size: 3.125rem;
}
.glav_cont{
    font-size: 1.25rem;
    font-weight: 500;
    color: #848283;
}
.cont_contact{
    display: flex;
    align-items: center;
    gap: 6%;
}
.cont_contact p{
    width: 300px;
    font-weight: 700;
    font-size: 1.563rem;
}
.bot_avto_rinok{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.bot_contact{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.top_contact div{
    display: flex;
    align-items: space-between;
}
.top_contact{
    display: flex;
    justify-content: space-between; 
    width: 100%;
}

.forma{
    width: 30vw;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 5px 20px rgba(71, 71, 71, 0.5);
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inside_forma{
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.checkbox_forma{
    display: flex;
}
.inside_forma h2{
    font-size: 2.5rem;
    color: #000000;
    font-weight: 700;
}
.zapolnit_formu_p{
    font-size: 1.125re,;
    font-weight: 500;
    color: #000000;
}
.inside_forma input{
    height: 72px;
    padding: 0 5%;
    border-radius: 14px;
    border: 1px solid #c9c9c9;
}
.inside_forma button{
    height: 72px;
    background-color: red;
    color: #FFFFFF;
    border-radius: 14px;
    border-style: none;
    cursor: pointer;
    font-size: 1.375rem;
    font-weight: 700;
    box-shadow: 0 8px 15px rgba(255, 0, 0, 0.5);
    transition: all 0.4s ease;
}
.inside_forma button:hover{
    background-color: #aa0422;
}
.check{
  position: fixed;
  opacity: 0;
}
.check-label{
  width: 24px;
  height: 24px;
  border-radius: 2px;
  background: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #009d00;
}
.check-label::before{
  content: "";
  width: 12px;
  height: 6px;
  border-left: 2px solid #009d00;
  border-bottom: 2px solid #009d00;
  transform: rotate(-45deg);
  transition: all 0.2s ease;
  background-color: #fff;
}
.check:not(:checked)+.check-label::before{
  opacity: 0;
  background-color: #fff;
}
.check:checked+.check-label::before{
  background-color: #fff;
  opacity: 1;
}
.politika_konf{
    display: flex;
    width: 84%;
    text-align: left;
    justify-content: space-evenly;
    align-items: center;
}
.politika_konf a, .politika_konf p{
    color: #000000;
    font-weight: 600;
    font-size: 1rem;
}
.politika_konf a{
    text-decoration: underline;
}

.kontakti{
    height: 80vh;
    align-content: space-evenly;
    background-color: #FFFFFF;
}
.kontakti h2{
    font-size: 3.125rem;
    color: #000000;
    font-weight: 700;
}
.kontakti_main{
    width: 80%;
    margin: 0 auto;
}
.maps{
    display: flex;
    justify-content: space-between;
}
.map1{
    height: 55vh;
    width: 36vw;
    border: 7px solid #FECCD5;
    border-radius: 34px;
}
.map1 img{
    width: 100%;
    height: 35vh;
    margin: 0 auto;
    cursor: pointer;
}
.inside_map{
    height: 100%;
}
.gorod_nomer img{
    width: 16px;
    height: 22px;
}
.map_text{
    width: 100%;
    height: 34%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}
.bot_kontakti p{
    width: 250px;
    font-size: 1.875rem;
    color: #000000;
    font-weight: 650;
}
.metka{
    display: flex;
    width: 350px;
}
.filial{
    font-size: 1.875rem;
    color: #000000;
    font-weight: 500;
}
.gorod{
    color: #292929;
    font-size: 1rem;
    font-weight: 400;
}
.gorod_nomer{
    width: 65%;
    height: 50%;
}
.map_text1{
    width: 95%;
    flex-wrap: wrap;
}

footer{
    height: 33vh;
    background-color: #EEEEEE;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}
.footer_main{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_left_main{
    height: 70%;
}
.footer_left_main p{
    width: 428px;
    height: 88px;
}
.footer_mid_main{
    justify-content: space-between;
    display: flex;
    width: 20vw;
    height: 50%;
}
.footer_midleft{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer_midright{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer_right{
    height: 50%;
}
.footer_mid{
    height: 50%;
}
.footer_rightbot{
    display: flex;
}
.footer_rightbot img{
    width: 16px;
    height: 22px;
}
footer a{
    color: #000000;
    font-size: 1.125rem;
    font-weight: 500;
}