@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
nav{
    position: relative;
    align-items: center;
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
    z-index: 12;
}
nav a{
    color: #242424;
    font-weight: 500;
}
ul{
    display: flex;
    width: 55%;
    justify-content: space-between;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.number_button{
    width: 236px;
    height: 68px;
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 650;
    cursor: pointer;
    transition: 0.4 ease;
    border-style: none;
    border-radius: 8px;
    background-color: #FA002C;
}
.pusto{
    width: 100vw;
    height: 89vh;
    position: relative;
}
.pustobg{
    position: relative;
    bottom: 85px;
    width: 100vw;
    height: 125%;
    max-height: 100vh;
    background-image: url(../koreya/koreya_image/nekia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: 1;
}
.pusto_main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.pusto h1{
    font-size: 5rem;
    font-weight: 800;
    color: #2b2b2b;
    text-align: center;
}
